{% extends "base.html" %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <h2>Clermont Weather</h2>
        </div>
        <div class="row">
            <iframe src="./static/temp.html" width="1800" height="600" class="center well">Graph</iframe>
        </div>
        <div class="row">
            <div id="MinMax" class="col-sm-8">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th colspan="2" class="text-center"><h4>Temperature</h4></th>
                            <th colspan="2" class="text-center"><h4>Humidity</h4></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <a class="text-center small"
                                   href="{{ temperature.get_absolute_url }}/temperature/edit/{{ maxTemperatureID }}/">
                                    <h4>{{ maxTemperature }}</h4></a>
                            </td>
                            <td>
                                <a class="text-center small"
                                   href="{{ temperature.get_absolute_url }}/temperature/edit/{{ maxHumidityID }}/">
                                    <h4> {{ maxHumidity }}</h4></a>
                            </td>
                            <td>
                                <a class="text-center small"
                                   href="{{ temperature.get_absolute_url }}/temperature/edit/{{ minTemperatureID }}/">
                                    <h4> {{ minTemperature }}</h4></a>
                            </td>
                            <td>
                                <a class="text-center small"
                                   href="{{ get_absolute_url }}/temperature/edit/{{ minHumidityID }}/">
                                    <h4> {{ minHumidity }}</h4></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="text-center col-md-8">
                {% if is_paginated %}
                    <ul class='pagination pagination-sm'>
                        <li>
                            <a href="{% url 'temperature_list' %}?page=1"><h4> << </h4> </a>
                        </li>

                        {% if page_obj.has_previous %}
                            <li class="previous">
                                <a href="{% url 'temperature_list' %}?page={{page_obj.previous_page_number}}"><h4> < </h4></a>
                            </li>
                        {% endif %}
                        <li>
                             <span><h4> Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</h4> </span>
                        </li>
                        {% if page_obj.has_next %}
                            <li class="next">
                                <a href="{% url 'temperature_list' %}?page={{ page_obj.next_page_number }}"><h4> > </h4></a>
                            </li>
                        {% endif %}

                        <li>
                            <a href="{% url 'temperature_list' %}?page={{ page_obj.paginator.num_pages }}"><h4> >> </h4></a>
                        </li>
                   </ul>
                {% endif %}
                <table class='table table-striped table-hover'>
                    <thead>
                        <tr>
                            <th class="text-center"><h4>Reading Time</h4></th>
                            <th class="text-center"><h4>Temp (F)</h4></th>
                            <th class="text-center"><h4>Humidity</h4></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for temperature in object_list %}
                            <tr>
                                <td>
                                    <a class="text-center small" href="{% url 'temperature_edit' pk=temperature.id %}">
                                        <h5> {{ temperature.ReadingDateTime }} </h5>
                                    </a>
                                </td>
                                <td>
                                    <a class="text-center small" href="{% url 'temperature_edit' pk=temperature.id %}">
                                        <h5> {{ temperature.TempF }} </h5>
                                    </a>
                                </td>
                                <td>
                                    <a class="text-center small" href="{% url 'temperature_edit' pk=temperature.id %}">
                                        <h5> {{ temperature.Humidity }} </h5>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% if is_paginated %}
                    <ul class='pagination pagination-sm'>
                        <li>
                            <a href="{% url 'temperature_list' %}?page=1"><h4> << </h4> </a>
                        </li>

                        {% if page_obj.has_previous %}
                            <li class="previous">
                                <a href="{% url 'temperature_list' %}?page={{page_obj.previous_page_number}}"><h4> < </h4></a>
                            </li>
                        {% endif %}

                        <li>
                             <span><h4> Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</h4> </span>
                        </li>

                        {% if page_obj.has_next %}
                            <li class="next">
                                <a href="{% url 'temperature_list' %}?page={{ page_obj.next_page_number }}"><h4> > </h4></a>
                            </li>
                        {% endif %}

                        <li>
                            <a href="{% url 'temperature_list' %}?page={{ page_obj.paginator.num_pages }}"><h4> >> </h4></a>
                        </li>
                   </ul>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
